alembic
bcrypt
blinker
certifi
click
cloudinary
colorama
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mercadopago
packaging
psycopg2-binary
python-dotenv
six
SQLAlchemy
typing-extensions
urllib3
Werkzeug
WTForms
stripe